.flex {
  display: flex;
  /* flex-direction: column;  la valeur par defaut row  
    flex-direction: column-reverse;
  flex-direction: row-reverse;  
 
   justify-content: flex-end; / centre/
  justify-content: space-between;
  justify-content: space-around;
  
  flex-wrap: wrap;
  flex-wrap: wrap-reverse; */
  justify-content: space-evenly;
  height: 500px;
  border: solid 3px black;

  align-items: flex-start;
  align-items: center;
}

.carre {
  height: 100px;
  min-width: 100px;
}
.carrered {
  background-color: red;
}

.carregreen {
  background-color: green;
}
.carreblue {
  background-color: blue;
}
